h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif, serif;
    color: blue;
    text-decoration: underline;
}

h2{
    text-align: left;
    font-size: 20px;
    font-family: sans-serif, serif;
    color: black;
    text-decoration: underline;
}

h3{
    text-align: left;
    font-size: 20px;
    font-family: monospace, serif;
    color: black;
    font-weight: bold;
    
    
}

h4{
    text-align: left;
    font-size: 15px;
    font-family: monospace, sans-serif;
    color: black;
    font-weight: bold;
}

body{
    background-image: url("/download.jpg");
}
table {
    width:20%;
    border: 2px;
}



button {
    background-color: cyan;
    border: 1px solid blue;
    border-spacing:0px;
    height: 60px;
    width: 220px;
    transition-duration: 0.1;
}
button:hover{
    background-color: cornflowerblue;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a{
    color: blue;
    font-family: monospace, sans-serif, serif;
    text-decoration: none;
    font-size:15px;
    transition-duration: 0.1;
    font-weight: bold;

}

a:hover{
    color: black;
    font-weight: bolder;
}